<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Sobre mim</h2>
    <hr>
    {% for chave, valor in notas.items() %}  <!-- Loop através de todas as chaves e valores do dicionário 'notas' -->
    <details>
        <summary>{{chave}}</summary>  <!-- Exibe a chave como o resumo do detalhe -->
        <p>{{valor}}</p>  <!-- Exibe o valor dentro do detalhe -->
    </details>
{% endfor %}

</body>
</html>