{% extends 'base.html'%}
{% block conteudo %}

<h2 style="text-align: center;">Diário do Professor</h2>
<hr>
{% for registros in registros %} <!-- Loop através de todas as chaves e valores do dicionário 'notas' -->
<details>
    <summary>{{registros.aluno}}</summary> <!-- Exibe a chave como o resumo do detalhe -->
    <p>{{registros.nota}}</p> <!-- Exibe o valor dentro do detalhe -->
</details>
{% endfor %}
<form action="{{url_for('sobre')}}" method="POST">
    <div>
        <label class="form-group">Aluno</label>
        <input type="text" name="aluno" class="form-control" placeholder="Digite o nome do aluno" required>
    </div>
    <div>
        <label class="form-group">Nota</label>
        <input type="text" name="nota" class="form-control" placeholder="Digite uma nota" required>
    </div>
    <button class="btn btn-success">Adicionar</button>
</form>

{% endblock conteudo %}